<h2 class="btn-warning">McDonald's</h2>
<div class="row" style="
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <div class="col-3">
        <div class="card" style="justify-content: center;
        box-sizing: border-box;
        width: 16rem;
        border: 10px solid #B62709;
        background: yellow;
        padding: 5px;">
            <img src="https://s7d1.scene7.com/is/image/mcdonalds/t-mcdonalds-Cheeseburger-1:1-4-product-tile-desktop" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hamburguesa simple</h5>
                <p class="card-text">$700</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="box-sizing: border-box;
        width: 18rem;
        border: 10px solid #B62709;
        background: yellow;
        padding: 5px;">
            <img src="https://mcdonalds.es/api/cms/images/mcdonalds-es/f2e320e6-1277-43d3-a575-c4f41a8ac7aa_1080x943-App_0004_Patatas-Grandes.png?auto=compress,format" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Papas Simples</h5>
                <p class="card-text">$500</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
        <h2 class="btn-danger">KFC</h2>
    <div class="col-3">
        <div class="card" style="width: 16rem;">
            <img src="https://cdn.cnn.com/cnnnext/dam/assets/190613084750-kfc-vegan-imposter-burger-2-exlarge-169.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hamburguesa Vegana</h5>
                <p class="card-text">$600</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
</div >
